In [2]:
class test :
    def __init__(self, a,b) :
        self.a = a
        self.b = b

In [3]:
t = test(20,21)

In [4]:
t.a = 2030

In [5]:
t.a

2030

In [6]:
t.b

21

In [7]:
t.a = 895

In [8]:
t.a

895

In [9]:
# here, '__year' is used for hiding the information from user.
# we cann't access the data of '__year' by using c. tab button.
# for this, we directly put all information like c.__year

class car :
    def __init__(self, year, make, model, speed) :
        self.__year = year
        self.__make = make
        self.__model = model
        self.__speed = 0

In [10]:
c = car(2023, 'Kawasaki', 'Ninja H2', 400)

In [11]:
# here, I used to 'year' only  and not getting any output.

c.year

AttributeError: 'car' object has no attribute 'year'

In [12]:
# here, I used to '__year' and not getting any output.

c.__year

AttributeError: 'car' object has no attribute '__year'

In [13]:
# here I use '_car__year' and getiing a output.
# here car is a class.

c._car__year

2023

In [21]:
class car :
    def __init__(self, year, make, model, speed) :
        self.__year = year
        self.__make = make
        self.__model = model
        self.__speed = 0
    def set_speed(self, speed) :
        self.__speed = 0 if speed < 0 else speed
    def get_speed(self) :
        return self.__speed

In [22]:
c = car(2023, 'Kawasaki', 'Ninja H2', 400)

In [23]:
c.set_speed(-96)

In [24]:
c.get_speed()

0

In [41]:
class bank_account :
    def __init__(self, balance) :
        self.__balance = balance
    def deposit(self, amount) :
        self.__balance = self.__balance + amount
    def withdraw(self, amount) :
        if self.__balance >= amount :
            self.__balance = self.__balance - amount
            return True
        else :
            return False
    def get_balance(self) :
        return self.__balance

In [42]:
rajib = bank_account(999)

In [43]:
rajib.get_balance()

999

In [44]:
rajib.deposit(499)

In [45]:
rajib.get_balance()

1498

In [46]:
rajib.deposit(1000)
rajib.get_balance()

2498

In [47]:
rajib.withdraw(3000)

False

In [48]:
rajib.withdraw(500)

True

In [61]:
class Employee :
    def __init__(self, name, position, salary, project) :
        self.name = name
        self.position = position
        self.salary = salary
        self.project = project
    def employee_info(self) :
        print('Name: ', self.name, 'Position:',self.position, 'Salary:', self.salary)
    def employee_pro(self) :
        print('Project:', self.project)

In [62]:
rak = Employee('Rajib Ali Khan', 'Data Science Masters', 50000, 'The Data Science')

In [63]:
rak.employee_info()
rak.employee_pro()

Name:  Rajib Ali Khan Position: Data Science Masters Salary: 50000
Project: The Data Science

In [64]:
class Country :
    def __init__(self, name, area, population, state, district) :
        self.name = name
        self.area = area
        self.population = population
        self.state = state
        self.district = district
    def country_info(self) :
        print('Name :', self.name, 'Area :', self.area, 'Population :', self.population, 'State :', self.state, 'District :', self.district)

In [66]:
c = Country('India',800000, 145000000, 'West Bengal','Purba Medinipur')

In [67]:
c.country_info()

Name : India Area : 800000 Population : 145000000 State : West Bengal District : Purba Medinipur

In [77]:
class about_me :
    def __init__(self, name, age, height, weight, nick_name) :
        self.name = name
        self.age = age
        self.height = height
        self.weight = weight
        self.nick_name = nick_name
    def info_about_me(self) :
        print('My name is',self.name,'and my age is', self.age, 'and my height is', self.height, 'my weight is', self.weight, 'my nick_name is', self.nick_name)

In [80]:
a = about_me('Rajib Ali Khan', 23, '6ft', '80kg', 'RAK')

In [81]:
a.info_about_me()

My name is Rajib Ali Khan and my age is 23 and my height is 6ft my weight is 80kg my nick_name is RAK